header{
    .header-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 110px;
        border-bottom: 1px solid $grayishBlue;
        @media screen and (max-width: 950px) {
            height: 70px;
        }
    }
    .sneaker-logo{
        object-fit: contain;
        width: 150px;
    }
    .header-side{
        align-items: center;
        justify-content: center;
        &:first-child{
            column-gap: 70px;
        }
        &:last-child{
            column-gap: 50px;
        }
        @media screen and (max-width: 950px) {
            &:first-child{
                column-gap: 15px;
            }
            &:last-child{
                column-gap: 30px;
            }
        }
    }
    .header-side,
    .header-nav,
    .header-nav-list,
    .header-nav-element{
        display: flex;
        height: 100%;
    }
    .header-nav-list{
        column-gap: 40px;
        justify-content: center;
        align-items: center;
        .header-nav-element{
            position: relative;
            justify-content: center;
            align-items: center;
        }
        a{
            color: $grayishBlue;
            transition: color .3s ease;
            &.active{
                color: $veryDarkBlue;
                &:after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 5px;
                    background-color: $orange;
                }
            }
            &:hover{
                color: $veryDarkBlue;
            }
        }
        @media screen and (max-width: 950px) {
            display: none;
        }
    }
    .cart-wrapper{
        position: relative;
        @media screen and (max-width: 750px) {
            position: inherit;
        }
    }
    .cart-button{
        position: relative;
        .items-count{
            position: absolute;
            top: -9px;
            right: -11px;
            padding: 2px 9px;
            background-color: $orange;
            border-radius: 10px;
            color: #fff;
            font-size: 12px;
            font-weight: bold;
            @media screen and (max-width: 950px) {
                font-size: 10px;
            }
        }
        .cart-icon{
            fill: $darkGrayishBlue;
            transition: fill .3s ease;
            &:hover{
                fill: $veryDarkBlue;
            }
        }
    }
    .cart-modal{
        display: none;
        position: absolute;
        top: 50px;
        left: -175px;
        width: 350px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 9px 20px -5px $grayishBlue;
        opacity: 0;
        z-index: 4;
        &.active{
            display: block;
            opacity: 1;
            animation: fadeIn .3s;
        }
        &.out{
            display: block;
            animation: fadeOut .3s;
        }
        .cart-head{
            padding: 20px;
            border-bottom: 1px solid $grayishBlue;
            font-weight: 700;
        }
        .cart-content{
            padding: 20px;
            .cart-list{
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                margin-bottom: 20px;
            }
            .cart-element{
                display: flex;
                align-items: center;
                column-gap: 10px;
                .product-image{
                    width: 50px;
                    object-fit: cover;
                    border-radius: 10px;
                }
                .product-name,
                .product-quantity{
                    color: $darkGrayishBlue;
                }
                .product-name{
                    margin-bottom: 5px;
                }
                .total-price{
                    color: $veryDarkBlue;
                    font-weight: 700;
                }
                .remove-button{
                    margin-left: auto;
                }
            }
            .empty-text{
                text-align: center;
                color: $darkGrayishBlue;
                font-weight: 700;
                padding: 50px;
            }
        }
        a{
            text-align: center;
            box-shadow: inherit;
        }
        @media screen and (max-width: 1500px) {
            top: 80px;
            left: 10px;
            width: calc(100% - 20px);
        }
    }
    .profile-avatar{
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0px 0px 0px 0px $orange;
        transition: box-shadow .3s ease;
        &:hover{
            box-shadow: 0px 0px 0px 2px $orange;
        }
        @media screen and (max-width: 950px) {
            width: 30px;
        }
    }
    .burger-button{
        display: none;
        @media screen and (max-width: 950px) {
            display: flex;
        }
    }
}
.burger-menu{
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 200px;
    padding: 20px;
    background-color: #fff;
    z-index: 3;
    transition: left .3s ease;
    .close-button{
        margin-bottom: 50px;
    }
    .menu-list{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .menu-link{
        color: $veryDarkBlue;
        font-weight: bold;
        font-size: 18px;
    }
    &.active{
        left: 0;
    }
}