// Vars
$orange: hsl(26, 100%, 55%);
$paleOrange: hsl(25, 100%, 94%);
$veryDarkBlue: hsl(220, 13%, 13%);
$darkGrayishBlue: hsl(219, 9%, 45%);
$grayishBlue: hsl(220, 14%, 75%);
$lightGrayishBlue: hsl(223, 64%, 98%);

// imports
@import 'fonts';
@import 'header';

// Reset
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
}

p{
    font-size: 16px;
}

.container{
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}