// Vars
$orange: hsl(26, 100%, 55%);
$paleOrange: hsl(25, 100%, 94%);
$veryDarkBlue: hsl(220, 13%, 13%);
$darkGrayishBlue: hsl(219, 9%, 45%);
$grayishBlue: hsl(220, 14%, 75%);
$lightGrayishBlue: hsl(223, 64%, 98%);

// imports
@import 'fonts';
@import 'header';
@import 'product-presentation';

// Reset
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    overflow-x: hidden;
}

p{
    font-size: 16px;
}

img{
    max-width: 100%;
}

button{
    background: none;
    border: none;
    img{
        width: 100%;
    }
    &:hover{
        cursor: pointer;
    }
}

.container{
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.background-mask{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    pointer-events: none;
    transition: background-color .3s ease;
    &.active{
        pointer-events: all;
        background-color: rgba(0, 0, 0, 0.75);
    }
}

.button-1{
    display: block;
    padding: 18px 15px;
    background-color: $orange;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0px 15px 20px 0px $paleOrange;
    transition: opacity .3s ease;
    &:hover{
        opacity: 75%;
    }
    &.press{
        animation: pressAnimation .2s;
    }
}

@keyframes pressAnimation{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(.95);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes fadeIn{
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fadeOut{
    0%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(-20px);
        opacity: 0;
    }
}